*{
    margin: 0;
    padding: 0;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw;
    width: 100%;
}
.box{
    display: grid;
    grid-template-rows: 4vw auto;
    padding:5px;
    border: 1px solid black;
    background-color: yellow;
    height: 20vw;
    width: 30vw;
}

#upper{
    justify-self:center;
    align-self: center;
}