@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    height: 7vw;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw;
    width: 100%;
}
.box{
    display: grid;
    grid-template-rows: 4vw auto;
    padding:5px;
    border: 1px solid black;
    background-color: yellow;
    height: 40vw;
    width: 50vw;
    border-radius: 10px;
    box-shadow: 0 0 9px black;
}

#upper{
    display: flex;
    justify-self:center;
    align-items: center;
    font-family: 'Tilt Prism', cursive;
    font-weight: bolder;
}
label{
    margin:4px;
}
#value{
    width: 16vw;
    height: 2vw;
}
#add{
    font-family: 'Rubik', sans-serif;
    font-weight: 900;
    font-size: 2.4vh;
    text-align: center;
    padding: 2px;
    border-radius: 40%;
    width: 4vw;
    height: 2vw;
    margin: 4px;
}

#add:hover{
    cursor: pointer;
}

#lower{
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

/* #data{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:3px;
} */
/* .list{
    align-self: center;
    margin: 1px 0;
    fon
} */
/* .check{
    margin: 5px 0;
} */

.data{
    position: relative;
    font-size: 1.3vw;
    width:60%;
    top:20%;
    left:40%;
    font-family: 'Dosis', sans-serif;
}